<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Burger</title>
    <link rel="stylesheet" href="/css/index.css">
    <link id="admin-favicon" rel="icon" href="/images/burger.png" type="image/x-icon" style="display:none;">

</head>
<body>
<header>
    <h1>Welcome to Burger!</h1>
    <p>Select action:</p>
</header>

<div class="actions">
    <button onclick="location.href='/register'">Register</button>
    <button onclick="location.href='/login'">Login</button>
</div>

<footer>
    <p>© 2024 Burger</p>
</footer>
</body>
</html>
